<div id='container'>
<br>
<h1>Welcome to Gawk</h1><br>

<h3> Write a post or comment on the trending image/topic of the day! </h3><br><hr>

<p><%= link_to "Signup", users_path %><br><br> to get started or<br><br><%= link_to "Login", sessions_path %><br><br> to start Gawking.</p><hr>

</div>