<div id='container'>

<h1>Welcome to Gawk</h1><br>

<p> Write a post or comment on the trending image/topic of the day! </p><hr>

<p><%= link_to "Signup", users_path %><br><br> to get started or<br><br><%= link_to "Login", sessions_path %><br><br> to start Gawking.</p><hr>

</div>