#econtainer {
	text-align: center;
	background: rgb(104, 185, 229);	
}

#mcontainer {
	text-align: center;
	background: rgb(182, 113, 229);
}

#ucontainer {
	text-align: center;
	background: rgb(144, 182, 88);
}